<div class="flex flex-row place-content-center">
    <div class="text-center">
        <i class="material-icons pt-8 text-6xl text-blue-300">school</i>
        <h3 class="tgug-page-heading font-extrabold">Education</h3>



    </div>



</div>



<div class="flex flex-row place-content-center pb-16 mx-auto">


    <div class="mt-16 text-blue-300 border-l-4 border-blue-700 w-6/12 border-t-0 border-dotted ">


        <div class="tgug-timeline-card focus:tgug-drop-contact-image-shadow hover:tgug-drop-contact-image-shadow w-3/4 p-2 ml-8 bg-gray-800 rounded-3xl ">
            <div class=" ">
                <h3 class=" text-blue-400 font-extrabold text-xl text-left before:content-[ ''] before:-ml-14 before:mt-12 before:border-blue-700 before:bg-blue-300 before:border-4 before:p-2 before:mr-8 before:rounded-3xl ">2021 Makerere University</h3>

                <dt class=" text-left text-blue-300 text-lg underline underline-offset-4 ml-3 ">Award</dt>
                <dd class="pt-1 text-left pl-8 ">Bachelors Degree Hons. (Information Systems and Technology) - Majoring Systems Development</dd>
                <dt class=" text-left text-blue-300 underline underline-offset-4 ml-3 mt-1 ">Grade (CGPA)</dt>
                <dd class="pt-1 text-left pl-8 "> 4.37</dd>

                <!-- <dt class="text-left text-blue-300 underline underline-offset-4 ml-3 mb-2 ">Content Covered</dt> -->
                <!-- <div class="flex flex-row place-content-center mb-2 ">
                    <span (click)="showAllCourseUnits() " class="tgug-drop-shadow-even mt-2 text-blue-400 mx-auto bg-gray-900 py-1 px-4 rounded-md hover:tgug-drop-shadow-even-hover ">View Content</span>


                </div> -->


                <!-- 
                <div class="ml-8 " *ngIf="showCourseUnits ">

                    <ol class="list-decimal ">
                        <li class=" ">
                            <span class="block p-0 mb-2 text-blue-200 underline underline-offset-1 ">Programming and Software Development</span>




                            <ul class="ml-4 list-disc ">

                                <li>
                                    Systems Analysis and Design
                                </li>
                                <li> Object Oriented Programming
                                </li>

                                <li> Intelligent Systems</li>
                                <li> Applications Development
                                </li>
                                <li> Structured Programming
                                </li>
                                <li> Integrative Programming and Technologies</li>
                                <li> Web systems and Technologies</li>

                                <li> User Interface Design</li>

                                <li> Software Systems Testing</li>

                                <li> System Integration and Deployment</li>

                                <li> Electronic Media Systems and Multimedia</li>
                            </ul>

                        </li>



                        <li class=" ">
                            <span class="block p-0 mb-2 text-blue-200 underline underline-offset-1 ">Net Centric Systems</span>
                            <ul class="ml-4 list-disc ">
                                <li> Cisco Certified Network Associate (CCNA)
                                </li>
                                <li> Computer Networks</li>
                                <li> Systems Administration</li>
                            </ul>
                        </li>

                        <li class=" ">
                            <span class="block p-0 mb-2 text-blue-200 underline underline-offset-1 ">Systems Security</span>
                            <ul class="ml-4 list-disc ">
                                <li> Information Systems Security and Risk Management
                                </li>
                            </ul>
                        </li>

                        <li class=" ">
                            <span class="block p-0 mb-2 text-blue-200 underline underline-offset-1 ">Data Modelling and Management</span>
                            <ul class="ml-4 list-disc ">
                                <li> Data and Information Management
                                </li>
                            </ul>
                        </li>

                        <li class=" ">
                            <span class="block p-0 mb-2 text-blue-200 underline underline-offset-1 ">Research and Development</span>
                            <ul class="ml-4 list-disc ">
                                <li> IT Project
                                </li>
                                <li> Research Methodology</li>
                                <li> Emerging Trends in Information Systems and Technology</li>
                            </ul>
                        </li>


                        <li class=" ">
                            <span class="block p-0 mb-2 text-blue-200 underline underline-offset-1 ">Systems Management </span>
                            <ul class="ml-4 list-disc ">
                                <li> Foundations of Information Systems and Technology
                                </li>
                                <li> Project Management</li>
                                <li> E-Services
                                </li>
                                <li class=" "> Computer Literacy</li>

                            </ul>
                        </li>

                        <li class=" ">
                            <span class="block p-0 mb-2 text-blue-200 underline underline-offset-1 ">Mathematical Foundations</span>
                            <ul class="ml-4 list-disc ">
                                <li> Basic Mathematics
                                </li>
                                <li> Applied Business Statistics</li>
                            </ul>
                        </li>
                        <li class=" ">
                            <span class="block p-0 mb-2 text-blue-200 underline underline-offset-1 ">Soft Skills</span>
                            <ul class="ml-4 list-disc ">
                                <li> Communication Skills
                                </li>
                                <li> Entrepreneurship Principles</li>
                                <li> IT Law and Ethics</li>
                            </ul>
                        </li>

                    </ol>





                </div>
 -->



            </div>
        </div>

        <div class="tgug-timeline-card focus:tgug-drop-contact-image-shadow hover:tgug-drop-contact-image-shadow w-3/4 p-2 ml-8 mt-12 bg-gray-800 rounded-3xl ">
            <div class=" ">
                <h3 class=" text-blue-400 font-extrabold text-xl text-left before:content-[ ''] before:-ml-14 before:mt-12 before:border-blue-700 before:bg-blue-300 before:border-4 before:p-2 before:mr-8 before:rounded-3xl ">2016 Kitende Secondary School</h3>

                <dt class=" text-left text-blue-300 text-lg underline underline-offset-4 ml-3 ">Award</dt>
                <dd class="pt-1 text-left pl-8 ">Uganda Advanced Certificate of Education</dd>

                <dt class=" text-left text-blue-300 text-lg underline underline-offset-4 ml-3 ">Subject Combination</dt>
                <dd class="pt-1 text-left pl-8 ">(HEG/SM)-History, Economics, Geography /Sub Maths</dd>


                <dt class="text-left text-blue-300 underline underline-offset-4 ml-3 mt-1 ">Grade (Total Points out of 20) </dt>
                <dd class="pt-1 text-left pl-8 "> 17 Points</dd>



            </div>
        </div>


        <div class="tgug-timeline-card focus:tgug-drop-contact-image-shadow hover:tgug-drop-contact-image-shadow w-3/4 p-2 ml-8 mt-12 bg-gray-800 rounded-3xl ">
            <div class=" ">
                <h3 class=" text-blue-400 font-extrabold text-xl text-left before:content-[ ''] before:-ml-14 before:mt-12 before:border-blue-700 before:bg-blue-300 before:border-4 before:p-2 before:mr-8 before:rounded-3xl ">2014 Kitende Secondary School</h3>

                <dt class=" text-left text-blue-300 text-lg underline underline-offset-4 ml-3 ">Award</dt>
                <dd class="pt-1 text-left pl-8 ">Uganda Certificate of Education</dd>
                <dt class=" text-left text-blue-300 underline underline-offset-4 ml-3 mt-1 ">Grade </dt>
                <dd class="pt-1 text-left pl-8 "> Divison I (28 Aggregate in 8 Subjects)</dd>

            </div>
        </div>


        <div class="tgug-timeline-card focus:tgug-drop-contact-image-shadow hover:tgug-drop-contact-image-shadow w-3/4 p-2 ml-8 mt-12 bg-gray-800 rounded-3xl ">
            <div class=" ">
                <h3 class=" text-blue-400 font-extrabold text-xl text-left before:content-[ ''] before:-ml-14 before:mt-12 before:border-blue-700 before:bg-blue-300 before:border-4 before:p-2 before:mr-8 before:rounded-3xl ">Others</h3>

                <dt class=" text-left text-blue-300 text-lg underline underline-offset-4 ml-3 ">Year</dt>
                <dd class="pt-1 text-left pl-8 ">2020</dd>
                <dt class=" text-left text-blue-300 underline underline-offset-4 ml-3 mt-1 ">Award</dt>
                <dd class="pt-1 text-left pl-8 "> Certificate in Cloud Computing and Data Center Management</dd>

                <dt class="text-left text-blue-300 underline underline-offset-4 ml-3 ">Institution</dt>
                <dd class="pt-1 text-left pl-8 ">NITA-Uganda</dd>








            </div>
        </div>












    </div>


</div>