<div class="text-center text-blue-200 pb-96 pt-44">


    <ngx-typed-js [strings]="['I am Fred Musisi','a Full Stack Software Engineer','passionate about what I do', 'and not your average Engineer.']" [typeSpeed]="100" [loop]="true" [loopCount]="10" [cursorChar]="'_'" class="text-blue-200 pt-40 font-bold text-3xl md:text-4xl lg:text-4xl xl:text-4xl 2xl:text-4xl">
        Hello...! <span class="block">&nbsp;</span>
        <span class="typing"></span>
    </ngx-typed-js>


    <p class="text-xl font-bold mt-8">Talk to me via...</p>
    <button class="bg-blue-700 mt-2  p-2 rounded-lg w-32">
        <a href="mailTo:fredmusisi96@gmail.com" class="text-blue-100 text-2xl font-extrabold">E-Mail</a>
    </button>

    <button class="bg-green-700 mt-2 ml-3 w-32 p-2 rounded-lg">
        <a href="https://wa.me/256703656852" target="_blank"class="text-blue-100 text-2xl font-extrabold">WhatsApp</a>
    </button>
    <div class="mt-4">
        <i class="material-icons text-2xl text-blue-300 animate-bounce">download</i><br>
        <a href="assets/img/resume.pdf" target="_blank" class="mt-4 rounded-full bg-blue-600 py-2 px-2">Download Resume</a>

    </div>
</div>